<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="listaFilmes">
    <ion-item-sliding *ngFor="let filme of listaFilmes">
      <ion-item lines="full">
        <ion-thumbnail>
          <img *ngIf="filme.cartaz" src="{{filme.cartaz}}" alt="">
          <ion-icon *ngIf="!filme.cartaz" name="videocam-off"></ion-icon>
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <div>
            <h1>{{filme.nome}}</h1>
            <p>{{filme.lancamento}}</p>
            <ion-badge color="medium" *ngFor="let genero of filme.generos">
              {{genero}}
            </ion-badge>
          </div>
        </ion-label>
        <ion-chip [color]="filme.classificacao < 5 ? 'danger' : ((filme.classificacao < 7 ? 'warning' : 'success'))"
          outline>
        <ion-label>{{filme.classificacao}}</ion-label>
        </ion-chip>
      </ion-item>

      <ion-item-options side="start">
        <ion-item-option color="primary">
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
